<!DOCTYPE html>
<html>
    <head>
        <title>Nobel Prize Story</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="story.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="fullPage.js-master/jquery.fullPage.css" />
    </head>
    <body>
        <div id="fullpage">
            {% for laureate in top_laureates_list %}
            <div class="section">
                <div class="slide">
                    <div class="laureate-info">
                        <img src="{{ https://www.nobelprize.org/nobel_prizes/ + '<laureate.category>/' + 'laureates/' + '<laureate_year>/' + '<laureate_surname.jpg>'}}" class="bio-img">
                        <h3>{{ laureate.get_fullname }}</h3>
                    </div>

                    <div class="motivation">
                        {{ laureate.get_motivation }}
                        A very cool thing done by this laureate.
                    </div>
                </div>

            	<div class="slide">
                    <div class="container marketing">
                        <div class="row featurette">
                            <div class="col-md-7 order-md-2">
                                <h2 class="featurette-heading">
                                    {{ laureate.get_more_info }}
                                    Something about the laureate.
                                    <span class="text-muted">Something else.</span>
                                </h2>
                            </div>

                            <div class="col-md-5 order-md-1">
                                <img class="featurette-image img-fluid mx-auto" src="https://www.nobelprize.org/nobel_prizes/peace/laureates/1964/ + <laureate_name> + _postcard.jpg" width="500" height="500">
                            </div>
                        </div>
                    </div>
                </div>

            	<div class="slide">
                    <div class="laureate-info">
                        Yet more information maybe links
                    </div>

                    <div class="related-laureates">
                        <h4><span class="text-muted">Related laureates:</span></h4>
                        <ul>
                            {% for related_laureate in laureate.get_related_laureates %}
                            <li><img class="rounded-circle" src="https://www.nobelprize.org/nobel_prizes/peace/laureates/1964/ + <laureate_name> + _postcard.jpg" width="100" height="100"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="fullPage.js-master/vendors/scrolloverflow.min.js"></script>
        <script type="text/javascript" src="fullPage.js-master/jquery.fullPage.js"></script>
        <script type="text/javascript" src="fullPage.js-master/vendors/jquery.easings.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#fullpage').fullpage({
                    easing: 'swing',
                    navigation: true,
                    scrollBar: false,
                    autoScrolling: true,
                    scrollOverflow: true,

                });
            });
        </script>
    </body>
</html>
